*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}
body{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Mulish', sans-serif;
}

.header{
    padding: 38px 0 48px;
        
    background: rgba(255, 113, 67, 0.27);
    margin-bottom: 85px;
}


.conteiner{
    max-width: 1070px;  
    margin: 0 auto;
}

.nav{
    margin-right: 140px;
}

.nav_li{
    display: inline-block;
    margin-left: 166px;
}
.nav_li:not(:first-of-type) {
    margin-left: 49px;
} 

.nav_link{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #696871;
}
.nav_link:hover {
        color: black;
        transition: 300ms;
}
.button{
    width: 212px;
    height: 60px;
    border: none;
    border-radius: 10px;

    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;


    color: #FFFFFF;
}

.button_orange{
    background: #FF7143;
}
.button_orange:hover {
    background: #ff5a23;
    transition: 200ms;
}

.header_flex, .about_flex, .plan_flex, .footer_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_flex{
    margin-bottom: 85px;
}

.heder_flex{
    margin-bottom: 104px;
}


.about_title{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    
    letter-spacing: -2.50105px;
    
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}

.about_text{  
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    
    letter-spacing: -0.625263px;
    
    color: #696871;
    max-width: 410px;
    margin-bottom: 50px;
}

.button_violet{
    background-color: #5454D4;
}
.button_violet:hover {
    background: #4343ff;
    transition: 200ms;
}

.button_transparent{
    background-color: white;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}

.about_index{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    margin-bottom: 38px;
    
    letter-spacing: -1.56316px;
    
    color: #19191B;
}

.input{
    width: 212px;
    height: 60px;
    
    border: 1px solid #7087FF;
    box-sizing: border-box;
    border-radius: 10px;

    width: 302px;
    margin-right: 31px;
    padding: 14px;
}
::placeholder{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    
    color: #000000;
    
}

.about_get{
    margin-top: 85px;
    margin-bottom: 110px;
    margin-left: 223px;
    
    width: 500px;
        
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    
    letter-spacing: -1.87579px;
    
    color: #19191B;
}

.plan{
    margin-bottom: 132px;
}

.plan_title{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    width: 504px;
    margin-bottom: 110px;

    letter-spacing: -1.87579px;

    color: #19191B;

}

.item{
width: 330px;

background: #F8F8F8;
border-radius: 10px;
text-align: center;
padding: 34px 0 27px;
}
.item:hover{
    transition: 500ms;
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    border-radius: 10px;
}



.item_text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 22px;

    text-align: center;
    letter-spacing: -0.562737px;

    color: #696871;
}
.item:hover .item_text,.item:hover .item_title, .item:hover .item_li{
    color: #FFFFFF;
    transition: 500ms;
}

.item_title{
    font-weight: bold;
    font-size: 60px;

    letter-spacing: -1.03448px;

    color: #1D293F;
    margin-bottom: 38px;
}

.item_title span{
    font-size: 28px;
    margin: 22px 0 28px;
}

.item_li{
    list-style: none;
    font-size: 17px;
    line-height: 50px;

    text-align: center;
    letter-spacing: -0.531474px;

    color: #696871;
}

.button_item{
    width: 285px;
    background: white;
    color: #5454D4;

    margin-top: 36px;
}
.item:hover .button_item{
    color: white;
    transition: 500ms;
    background: #9F3919;
}


.footer{
    padding: 53px 0;
   
    background: rgba(255, 113, 67, 0.27);
}

.footer_nav{
    margin-left: 335px;
}
